NODE_ENV=production
TURSO_DATABASE_URL=libsql://rally-nathxxn.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzkwNDM2NjgsImlkIjoiMDE5ZTM3NDMtOTMwMS03NTEzLTlkYTUtYjRkYTZhNTBkYWU3IiwicmlkIjoiNjQyYzliZWMtZWExMi00NDgzLTk5NjQtYjEwOWZkODY4NTIyIn0.7kYj1Hw7VNJWi221-7GJmlpDYjaV9QU2G_i9YThC6QRqaDQZZs8Zn2QV2chmeNpQgeXJnpd4UTTqfCiFiVUfBQ
